<div class="container-fluid" th:fragment="content">
  <div th:replace="fragments/alerts :: alerts"></div>
  <div class="card card-warning">
    <div class="card-header">
      <h3 class="card-title">Edición de Configuración Global</h3>
    </div>
    <form
      id="updateConfigForm"
      th:action="@{/configuracion}"
      method="post"
      th:object="${applicationConfigurationForm}"
    >
      <th:block th:each="config, configIndex : *{applicationConfigurations}">
        <input
          type="hidden"
          th:field="*{applicationConfigurations[__${configIndex.index}__].id}"
        />
        <input
          type="hidden"
          th:field="*{applicationConfigurations[__${configIndex.index}__].created}"
        />
        <input
          type="hidden"
          th:field="*{applicationConfigurations[__${configIndex.index}__].creator}"
        />
        <input
          type="hidden"
          th:field="*{applicationConfigurations[__${configIndex.index}__].modified}"
        />
        <input
          type="hidden"
          th:field="*{applicationConfigurations[__${configIndex.index}__].modifier}"
        />
        <input
          type="hidden"
          th:field="*{applicationConfigurations[__${configIndex.index}__].configKey}"
        />
        <input
          type="hidden"
          th:field="*{applicationConfigurations[__${configIndex.index}__].description}"
        />
        <div class="card-body">
          <div class="form-group">
            <label
              th:for="${'description-' + config.id}"
              th:text="${config.description}"
            ></label>
            <input
              type="text"
              th:id="${'value-' + config.id}"
              th:field="*{applicationConfigurations[__${configIndex.index}__].value}"
              class="form-control"
            />
          </div>
        </div>
      </th:block>
      <div class="card-footer">
        <button type="submit" class="btn btn-warning">Actualizar</button>
      </div>
    </form>
  </div>
</div>
