<div th:fragment="content">
  <div th:replace="fragments/alerts :: alerts"></div>
  <div class="card card-warning">
    <div class="card-header">
      <h3 class="card-title">Edición de Rol</h3>
    </div>
    <form
      id="editForm"
      th:action="@{/roles/{id}/editar(id=${role.id})}"
      method="post"
      th:object="${role}"
    >
      <input type="hidden" th:field="*{created}" />
      <input type="hidden" th:field="*{creator}" />
      <input type="hidden" th:field="*{modified}" />
      <input type="hidden" th:field="*{modifier}" />
      <input type="hidden" th:field="*{enabled}" />
      <div class="card-body">
        <div class="form-group">
          <label for="name">Nombre del Rol</label>
          <input
            type="text"
            th:field="*{name}"
            class="form-control"
            id="name"
            placeholder=""
            readonly
          />
        </div>
        <div class="form-group">
          <label for="authorities">Autoridades</label>
          <!-- NOTE: authorityIds will be parsed to Collection<Authority> internally -->
          <select
            id="authorities"
            name="authorityIds"
            class="form-control"
            multiple="multiple"
          >
            <option
              th:each="authority : ${authorities}"
              th:value="${authority.id}"
              th:text="${authority.name}"
              th:selected="${role.hasAuthority(authority.id)}"
            ></option>
          </select>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-warning">Guardar</button>
      </div>
    </form>
  </div>
  <script>
    $(function () {
      $("#editForm").validate({
        rules: {
          name: {
            required: true,
            minlength: 3,
            maxlength: 50,
          },
          authorities: {
            required: true,
          },
        },
        messages: {
          name: {
            required: "Por favor, ingrese un nombre para el rol.",
            minlength: "El nombre del rol debe tener al menos 3 caracteres.",
            maxlength: "El nombre del rol no puede exceder los 50 caracteres.",
          },
          authorities: {
            required: "Por favor, seleccione al menos una autoridad.",
          },
        },
        errorElement: "span",
        errorPlacement: function (error, element) {
          error.addClass("invalid-feedback");
          element.closest(".form-group").append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass("is-invalid");
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass("is-invalid");
        },
      });
    });
  </script>
</div>
