<div th:fragment="alerts">
  <th:block th:if="${warning != null}">
    <div class="alert alert-warning alert-dismissible">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-hidden="true"
      >
        ×
      </button>
      <h5><i class="icon fas fa-ban"></i>Alerta</h5>
      <p th:text="${warning}"></p>
    </div>
  </th:block>
  <th:block th:if="${success != null}">
    <div class="alert alert-success alert-dismissible">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-hidden="true"
      >
        ×
      </button>
      <h5><i class="icon fas fa-check"></i>Operación Éxitosa</h5>
    </div>
  </th:block>
  <th:block th:if="${failure != null}">
    <div class="alert alert-danger alert-dismissible">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-hidden="true"
      >
        ×
      </button>
      <h5><i class="icon fas fa-ban"></i>Operación Fallida</h5>
      <p th:text="${failure}"></p>
    </div>
  </th:block>
</div>
