<div th:fragment="header">
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button">
          <i class="fas fa-bars"></i>
        </a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a th:href="@{''}" class="nav-link">Inicio</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a th:href="@{/logout}" class="nav-link">Salir</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item d-none d-sm-inline-block">
        <span class="nav-link">
          <span sec:authentication="principal.username"></span> (<span
            sec:authentication="principal.role.name"
          ></span
          >)
        </span>
      </li>
    </ul>
  </nav>
</div>
