<div th:fragment="sidebar">
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
          style="scroll-behavior: unset"
        >
          <li class="nav-header" style="scroll-behavior: unset">GENERAL</li>
          <li class="nav-item" style="scroll-behavior: unset">
            <a href="#" class="nav-link" style="scroll-behavior: unset">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Reservas
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none">
              <li
                class="nav-item"
                sec:authorize="hasAuthority('RESERVA_LISTAR')"
              >
                <a th:href="@{/reservas}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Calendario</p>
                </a>
              </li>
              <li
                class="nav-item"
                sec:authorize="hasAuthority('RESERVA_CREAR')"
              >
                <a th:href="@{/reservas/crear}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Agendar</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Separate nav item for Mantenimientos -->
          <li class="nav-item" style="scroll-behavior: unset">
            <a href="#" class="nav-link" style="scroll-behavior: unset">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Mantenimientos
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none">
              <li class="nav-item" sec:authorize="hasAuthority('ROL_LISTAR')">
                <a th:href="@{/roles}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Roles</p>
                </a>
              </li>
              <li
                class="nav-item"
                sec:authorize="hasAuthority('USUARIO_LISTAR')"
              >
                <a th:href="@{/usuarios}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Usuarios</p>
                </a>
              </li>
              <li
                class="nav-item"
                sec:authorize="hasAuthority('HABITACION_LISTAR')"
              >
                <a th:href="@{/habitaciones}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Habitaciones</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-header">CONFIGURACIÓN</li>
          <li
            class="nav-item"
            sec:authorize="hasAuthority('CONFIGURACION_GLOBAL_LISTAR')"
          >
            <a th:href="@{/configuracion}" class="nav-link">
              <i class="nav-icon fas fa-earth-americas"></i>
              <p>Global</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
</div>
