<div th:fragment="user-panel">
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img
        src="https://adminlte.io/themes/v3/dist/img/user2-160x160.jpg"
        class="img-circle elevation-2"
        alt="User Image"
      />
    </div>
    <div class="info">
      <a
        href="#"
        class="d-block"
        th:text="${#authentication.principal.username}"
      ></a>
    </div>
  </div>
</div>
