<div th:fragment="content">
  <div th:replace="fragments/alerts :: alerts"></div>
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Creación de Usuario</h3>
    </div>
    <form
      id="createForm"
      th:action="@{/usuarios/crear}"
      method="post"
      th:object="${user}"
    >
      <input type="hidden" th:field="*{created}" />
      <input type="hidden" th:field="*{creator}" />
      <input type="hidden" th:field="*{modified}" />
      <input type="hidden" th:field="*{modifier}" />
      <input type="hidden" th:field="*{enabled}" />
      <div class="card-body">
        <div class="form-group">
          <label for="username">Nombre de Usuario</label>
          <input
            type="number"
            th:field="*{username}"
            class="form-control"
            id="username"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input
            type="password"
            th:field="*{password}"
            class="form-control"
            id="password"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="role">Rol</label>
          <select id="role" th:field="*{role.id}" class="form-control">
            <option
              th:each="role : ${roles}"
              th:value="${role.id}"
              th:text="${role.name}"
            ></option>
          </select>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Crear</button>
      </div>
    </form>
  </div>
  <script>
    $(function () {
      $.validator.addMethod(
        "dni",
        function (value, element) {
          var pattern = /^[0-9]{2}[1-9]{1}[0-9]{5}$/;
          return this.optional(element) || pattern.test(value);
        },
        "Ingrese un nombre de usuario válido, solo 8 números",
      );
      $("#createForm").validate({
        rules: {
          username: {
            required: true,
            dni: true,
          },
          password: {
            required: true,
            minlength: 10,
          },
        },
        messages: {
          username: {
            required: "Por favor, ingrese un usuario.",
          },
          password: {
            required: "Por favor, ingrese una contraseña.",
            minlength: "La contraseña debe tener al menos 10 caracteres.",
          },
        },
        errorElement: "span",
        errorPlacement: function (error, element) {
          error.addClass("invalid-feedback");
          element.closest(".form-group").append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass("is-invalid");
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass("is-invalid");
        },
      });
    });
  </script>
</div>
