<div th:fragment="content">
  <div th:replace="fragments/alerts :: alerts"></div>
  <div class="card card-warning">
    <div class="card-header">
      <h3 class="card-title">Edición de Usuario</h3>
    </div>
    <form
      id="editForm"
      th:action="@{/usuarios/{id}/editar(id=${user.id})}"
      th:method="post"
      th:object="${user}"
    >
      <input type="hidden" th:field="*{created}" />
      <input type="hidden" th:field="*{creator}" />
      <input type="hidden" th:field="*{modified}" />
      <input type="hidden" th:field="*{modifier}" />
      <input type="hidden" th:field="*{enabled}" />
      <div class="card-body">
        <div class="form-group">
          <label for="username">Nombre de Usuario</label>
          <input
            type="text"
            th:field="*{username}"
            class="form-control"
            id="username"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input
            type="password"
            th:field="*{password}"
            class="form-control"
            id="password"
          />
        </div>
        <div class="form-group">
          <label for="role">Rol</label>
          <select id="role" th:field="*{role.id}" class="form-control">
            <option
              th:each="role : ${roles}"
              th:value="${role.id}"
              th:text="${role.name}"
              th:selected="${role.id == user.role.getId()}"
            ></option>
          </select>
        </div>
      </div>
      <div class="card-footer">
        <button
          type="button"
          data-toggle="modal"
          data-target="#modal-confirm"
          class="btn btn-warning"
        >
          Guardar
        </button>
        <div class="modal fade" id="modal-confirm">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Confirmación</h4>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>¿Estás seguro de editar este usuario?</p>
              </div>
              <div class="modal-footer justify-content-between">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  Cancelar
                </button>
                <button type="submit" class="btn btn-primary">Confirmar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script>
    $(function () {
      $("#editForm").validate({
        rules: {
          username: {
            required: true,
            minlength: 8,
            maxlength: 8,
          },
          password: {
            required: true,
            minlength: 10,
          },
        },
        messages: {
          username: {
            required: "Por favor, ingrese un usuario.",
            minlength: "Ingrese un usuario válido, solo 8 números.",
            maxlength: "Ingrese un usuario válido, solo 8 números.",
          },
          password: {
            required: "Por favor, ingrese una contraseña.",
            minlength: "La contraseña debe tener al menos 10 caracteres.",
          },
        },
        errorElement: "span",
        errorPlacement: function (error, element) {
          error.addClass("invalid-feedback");
          element.closest(".form-group").append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass("is-invalid");
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass("is-invalid");
        },
      });
    });
  </script>
</div>
