<div th:fragment="content">
  <div th:replace="fragments/alerts :: alerts"></div>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Usuarios</h3>
    </div>
    <div class="card-body">
      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12">
            <table
              id="usersTable"
              class="table table-bordered table-striped dataTable dtr-inline"
            >
              <thead>
                <tr>
                  <th>ID</th>
                  <th>NOMBRE DE USUARIO</th>
                  <th>ROL</th>
                  <th>CREADO</th>
                  <th>CREADOR</th>
                  <th>MODIFICADO</th>
                  <th>MODIFICADOR</th>
                  <th>ACCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd" th:each="user: ${users}">
                  <td
                    th:text="${user.id}"
                    class="dtr-control sorting_1"
                    tabindex="0"
                  ></td>
                  <td th:text="${user.username}"></td>
                  <td th:text="${user.role.getName()}"></td>
                  <td th:text="${user.created}"></td>
                  <td th:text="${user.creator}"></td>
                  <td th:text="${user.modified}"></td>
                  <td th:text="${user.modifier}"></td>
                  <td>
                    <div class="btn-group">
                      <form
                        th:action="@{/usuarios/{id}/editar(id=${user.id})}"
                        th:method="get"
                      >
                        <input type="hidden" name="id" th:value="${user.id}" />
                        <button type="submit" class="btn btn-warning">
                          Editar
                        </button>
                      </form>
                      <form
                        th:action="@{/usuarios/{id}/eliminar(id=${user.id})}"
                        th:method="post"
                      >
                        <input type="hidden" name="id" th:value="${user.id}" />
                        <button
                          type="button"
                          data-toggle="modal"
                          th:data-target="'#modal-confirm-' + ${user.id}"
                          class="btn btn-danger"
                        >
                          Eliminar
                        </button>
                        <div
                          class="modal fade"
                          th:id="'modal-confirm-' + ${user.id}"
                        >
                          <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title">Confirmación</h4>
                                <button
                                  type="button"
                                  class="close"
                                  data-dismiss="modal"
                                  aria-label="Close"
                                >
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>¿Estás seguro de eliminar este usuario?</p>
                              </div>
                              <div class="modal-footer justify-content-between">
                                <button
                                  type="button"
                                  class="btn btn-default"
                                  data-dismiss="modal"
                                >
                                  Cancelar
                                </button>
                                <button type="submit" class="btn btn-primary">
                                  Confirmar
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>NOMBRE DE USUARIO</th>
                  <th>ROL</th>
                  <th>CREADO</th>
                  <th>CREADOR</th>
                  <th>MODIFICADO</th>
                  <th>MODIFICADOR</th>
                  <th>ACCIONES</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(function () {
      var table = $("#usersTable").DataTable({
        scrollX: true,
        language: {
          url: "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json",
        },
        buttons: [
          {
            extend: "copyHtml5",
            exportOptions: {
              columns: [0, 1, 2, 3, 4, 5, 6],
            },
          },
          {
            extend: "csvHtml5",
            exportOptions: {
              columns: [0, 1, 2, 3, 4, 5, 6],
            },
          },
          {
            extend: "print",
            exportOptions: {
              columns: [0, 1, 2, 3, 4, 5, 6],
            },
          },
          "colvis",
        ],
        initComplete: function () {
          var api = this.api();
          new $.fn.dataTable.Buttons(api, {
            buttons: ["copy", "csv", "print", "colvis"],
          });
          api
            .buttons()
            .container()
            .appendTo("#example1_wrapper .col-md-6:eq(0)");
        },
      });
    });
  </script>
  <a
    th:href="@{/usuarios/crear}"
    class="btn btn-primary"
    style="scroll-behavior: unset"
    >Crear</a
  >
</div>
