<div th:fragment="content">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">
            Bienvenido,
            <span th:text="${#authentication.principal.username}"></span>!
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="col-md-3 col-sm-6 col-12"
      sec:authorize="hasAuthority('HABITACION_LISTAR')"
    >
      <div class="info-box">
        <span class="info-box-icon bg-info"><i class="fa-solid fa-bed"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Habitaciones</span>
          <span
            class="info-box-number"
            th:text="${@roomService.getCount()}"
          ></span>
        </div>
      </div>
    </div>

    <div
      class="col-md-3 col-sm-6 col-12"
      sec:authorize="hasAuthority('USUARIO_LISTAR')"
    >
      <div class="info-box">
        <span class="info-box-icon bg-success"
          ><i class="fa-solid fa-user"></i
        ></span>
        <div class="info-box-content">
          <span class="info-box-text">Usuarios</span>
          <span
            class="info-box-number"
            th:text="${@userService.getCount()}"
          ></span>
        </div>
      </div>
    </div>

    <div
      class="col-md-3 col-sm-6 col-12"
      sec:authorize="hasAuthority('ROL_LISTAR')"
    >
      <div class="info-box">
        <span class="info-box-icon bg-warning"
          ><i class="fa-solid fa-key"></i
        ></span>
        <div class="info-box-content">
          <span class="info-box-text">Roles</span>
          <span
            class="info-box-number"
            th:text="${@roleService.getCount()}"
          ></span>
        </div>
      </div>
    </div>

    <div
      class="col-md-3 col-sm-6 col-12"
      sec:authorize="hasAuthority('RESERVA_LISTAR')"
    >
      <div class="info-box">
        <span class="info-box-icon bg-danger"><i class="fa-solid fa-book"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Reservas</span>
          <span
            class="info-box-number"
            th:text="${@bookingService.getCount()}"
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>
