<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Roommate</title>
    <link rel="stylesheet" th:href="@{/css/adminlte.min.css}" />
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.min.css}" />
    <link rel="stylesheet" th:href="@{/css/responsive.bootstrap4.min.css}" />
    <link rel="stylesheet" th:href="@{/css/buttons.bootstrap4.min.css}" />
    <link rel="stylesheet" th:href="@{/css/fullcalendar.css}" />
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <style>
      table.dataTable thead th {
        white-space: nowrap;
      }
    </style>
  </head>
  <body class="hold-transition sidebar-mini">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/adminlte.min.js?v=3.2.0}"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/jquery.additional-methods.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/js/responsive.bootstrap4.min.js}"></script>
    <script th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/js/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{/js/buttons.html5.min.js}"></script>
    <script th:src="@{/js/buttons.print.min.js}"></script>
    <script th:src="@{/js/buttons.colVis.min.js}"></script>
    <script th:src="@{/js/pdfmake.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/fullcalendar.js}"></script>
    <script th:src="@{/js/fullcalendar.locales-all.global.min.js}"></script>
    <script th:src="@{/js/moment.min.js}"></script>
    <div class="wrapper">
      <div th:replace="fragments/header :: header"></div>
      <div th:replace="fragments/sidebar :: sidebar"></div>
      <div class="content-wrapper">
        <div th:if="${view != 'home'}" class="content-header"></div>
        <div class="content">
          <!--/*
                Este bloque Thymeleaf se encarga de dinámicamente reemplazar el contenido
                dentro del contenedor con la clase "container-fluid" por el contenido de la vista
                específica indicada por la variable "view". La expresión Thymeleaf
                "__${view}__ :: content" se interpreta para renderizar el contenido de la vista 
                correspondiente, lo que permite cambiar dinámicamente la página principal 
                según el contexto de la aplicación, como la autenticación del usuario o las acciones
                realizadas en el sistema.
           */-->
          <div class="container-fluid">
            <div th:replace="__${view}__ :: content"></div>
          </div>
        </div>
      </div>
      <div class="control-sidebar control-sidebar-dark">
        <div class="p-3">
          <h5>Title</h5>
          <p>Sidebar content</p>
        </div>
      </div>
      <footer class="main-footer">
        <div class="float-right d-none d-sm-inline"></div>
        <strong>Copyright &copy; 2024-2025 <a href="#">Grupo 01</a>. </strong>
        Todos los derechos reservados.
      </footer>
    </div>
  </body>
</html>
