<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Inicio Sesión</title>
    <link rel="stylesheet" th:href="@{/css/adminlte.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="#" class="h1">
            <b>Roommate</b>
          </a>
        </div>
        <div class="card-body">
          <div th:if="${param.error}">
            <div th:if="${session.SPRING_SECURITY_LAST_EXCEPTION != null}">
                <div th:switch="${session.SPRING_SECURITY_LAST_EXCEPTION.getClass().getSimpleName()}">
                    <p th:case="'LockedException'" th:text="#{message.accountLocked}" class="login-box-msg text-danger"></p>
                    <p th:case="'DisabledException'" th:text="#{message.accountDisabled}" class="login-box-msg text-danger"></p>
                    <p th:case="'BadCredentialsException'" th:text="#{message.badCredentials}" class="login-box-msg text-danger"></p>
                    <p th:case="*" th:text="#{message.loginError}" class="login-box-msg text-danger"></p>
                </div>
            </div>
          </div>
          <p th:if="${param.logout}" class="login-box-msg text-danger">Te has deslogeado</p>
          <form id="loginForm" th:action="@{/login}" method="post">
            <div class="input-group mb-3">
              <label for="password" hidden></label>
              <input type="number" name="username" class="form-control" id="username" placeholder="Nombre de Usuario"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fa-solid fa-id-card"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <label for="password" hidden></label>
              <input type="password" name="password" class="form-control" id="password" placeholder="Contraseña" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <!---
                <div class="icheck-primary">
                    <input type="checkbox" id="remember"><label for="remember">
                    Remember Me
                    </label>
                </div>
                --->
              </div>
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Acceder</button>
              </div>
            </div>
            <div>
            </div>
          </form>
        </div>
        <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
        <script th:src="@{/js/adminlte.min.js}"></script>
        <script th:src="@{/js/jquery.validate.min.js}"></script>
        <script th:src="@{/js/jquery.additional-methods.min.js}"></script>
        <script>
            $(function () {
              $.validator.addMethod("dni", function (value, element) {
                var pattern = /^[0-9]{2}[1-9]{1}[0-9]{5}$/;
                return this.optional(element) || pattern.test(value);
              }, "Ingrese un nombre de usuario válido, solo 8 números");
              $("#loginForm").validate({
                rules: {
                  username: {
                    required: true,
                    dni: true,
                  },
                  password: {
                    required: true,
                  },
                },
                messages: {
                  username: {
                    required: "Por favor, ingrese un usuario.",
                  },
                  password: {
                    required: "Por favor, ingrese una contraseña.",
                  },
                },
                errorElement: "span",
                errorPlacement: function (error, element) {
                  error.addClass("invalid-feedback");
                  element.closest(".input-group").append(error);
                },
                highlight: function (element, errorClass, validClass) {
                  $(element).addClass("is-invalid");
                },
                unhighlight: function (element, errorClass, validClass) {
                  $(element).removeClass("is-invalid");
                },
              });
            });
        </script>
  </body>
</html>
