<div th:fragment="content">
  <div th:replace="fragments/alerts :: alerts"></div>
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Reservar habitación</h3>
    </div>
    <form
      id="createForm"
      th:action="@{/reservas/crear}"
      method="post"
      th:object="${booking}"
    >
      <input type="hidden" th:field="*{created}" />
      <input type="hidden" th:field="*{creator}" />
      <input type="hidden" th:field="*{modified}" />
      <input type="hidden" th:field="*{modifier}" />
      <input type="hidden" th:field="*{enabled}" />
      <input type="hidden" th:field="*{status}" />
      <div class="card-body">
        <div class="form-group">
          <label for="room">Habitación</label>
          <select id="room" th:field="*{room.id}" class="form-control">
            <option
              th:each="room : ${rooms}"
              th:value="${room.id}"
              th:text="${room.roomNumber}"
            ></option>
          </select>
        </div>
        <div class="form-group">
          <label for="checkinTime">Fecha de Check-in</label>
          <input
            type="datetime-local"
            th:field="*{start}"
            th:attr="min=${nowDate}"
            class="form-control"
            id="checkinTime"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="checkoutTime">Fecha de Check-out</label>
          <input
            type="datetime-local"
            th:field="*{end}"
            th:attr="min=${nowDate}"
            class="form-control"
            id="checkoutTime"
            placeholder=""
          />
        </div>
        <fieldset class="border p-2">
          <legend class="float-none w-auto p-2">Húesped</legend>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="guestDNI">DNI</label>
              <div class="input-group">
                <input
                  type="text"
                  th:field="*{guest.dni}"
                  class="form-control"
                  id="guestDNI"
                />
                <div class="input-group-prepend">
                  <span class="input-group-append">
                    <button
                      type="button"
                      id="resolveGuest"
                      class="btn btn-info btn-flat"
                    >
                      Buscar
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="guestName">Nombre</label>
              <input
                type="text"
                th:field="*{guest.name}"
                class="form-control"
                id="guestName"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="guestfatherLastName">Primer Apellido</label>
              <input
                type="text"
                th:field="*{guest.fatherLastName}"
                class="form-control"
                id="guestfatherLastName"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="guestMotherLastName">Segundo Apellido</label>
              <input
                type="text"
                th:field="*{guest.motherLastName}"
                class="form-control"
                id="guestMotherLastName"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="guestPhoneNumber">Número de Teléfono</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">+51</span>
              </div>
              <input
                type="text"
                th:field="*{guest.phoneNumber}"
                class="form-control"
                id="guestPhoneNumber"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="guestEmail">Correo Electrónico</label>
            <input
              type="text"
              th:field="*{guest.email}"
              class="form-control"
              id="guestEmail"
            />
          </div>
        </fieldset>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Reservar</button>
      </div>
    </form>
  </div>
  <script>
    $(function () {
      function setReadonlyIfNotEmpty(elementId) {
        var inputField = $("#" + elementId);
        inputField.prop("readonly", inputField.val().trim() !== "");
      }
      setReadonlyIfNotEmpty("guestEmail");
      setReadonlyIfNotEmpty("guestPhoneNumber");
      setReadonlyIfNotEmpty("guestMotherLastName");
      setReadonlyIfNotEmpty("guestfatherLastName");
      setReadonlyIfNotEmpty("guestName");
      $("#resolveGuest").on("click", function () {
        var guestDNI = $("#guestDNI").val();
        if (guestDNI.trim() !== "") {
          window.location.href =
            "/reservas/crear?resolveDni=" + guestDNI.trim();
        }
      });
      $.validator.addMethod(
        "dni",
        function (value, element) {
          var pattern = /^[0-9]{2}[1-9]{1}[0-9]{5}$/;
          return this.optional(element) || pattern.test(value);
        },
        "Ingrese un nombre de usuario válido, solo 8 números",
      );
      $("#createForm").validate({
        rules: {
          end: {
            required: true,
          },
          start: {
            required: true,
          },
          "guest.dni": {
            required: true,
            dni: true,
          },
          "guest.name": {
            required: true,
          },
          "guest.fatherLastName": {
            required: true,
          },
          "guest.motherLastName": {
            required: true,
          },
          "guest.phoneNumber": {
            required: true,
            minlength: 9,
            maxlength: 9,
          },
          "guest.email": {
            required: true,
            email: true,
          },
        },
        messages: {
          start: {
            required: "Por favor, ingrese la fecha de check-in.",
          },
          end: {
            required: "Por favor, ingrese la fecha de check-out.",
          },
          "guest.dni": {
            required: "Por favor, ingrese el DNI del huésped.",
          },
          "guest.name": {
            required: "Por favor, ingrese el nombre del huésped.",
          },
          "guest.fatherLastName": {
            required: "Por favor, ingrese el primer apellido del huésped.",
          },
          "guest.motherLastName": {
            required: "Por favor, ingrese el segundo apellido del huésped.",
          },
          "guest.phoneNumber": {
            required: "Por favor, ingrese el número de teléfono del huésped.",
            minlength: "Por favor, ingrese un número de teléfono válido",
            maxlength: "Por favor, ingrese un número de teléfono válido",
          },
          "guest.email": {
            required: "Por favor, ingrese el correo electrónico del huésped.",
            email: "Por favor, ingrese un correo electrónico válido.",
          },
        },
        errorElement: "span",
        errorPlacement: function (error, element) {
          error.addClass("invalid-feedback");
          element.closest(".form-group").append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass("is-invalid");
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass("is-invalid");
        },
      });
    });
  </script>
</div>
