<div th:fragment="content">
  <div th:replace="fragments/alerts :: alerts"></div>
  <script>
    $(function () {
      var Calendar = FullCalendar.Calendar;
      var calendarEl = document.getElementById("calendar");
      var calendar = new Calendar(calendarEl, {
        locale: "es",
        headerToolbar: {
          left: "prev,next today",
          center: "title",
          right: "dayGridMonth,timeGridWeek,timeGridDay,listMonth",
        },
        weeksNumbers: true,
        navLinks: true,
        themeSystem: "bootstrap",
        eventSources: [
          {
            url: "/rest/reservas",
            type: "GET",
          },
        ],
        eventClick: function (info) {
          var eventTitle = info.event.title;
          var eventStart = info.event.start;
          var eventEnd = info.event.end;
          var eventId = info.event.id;
          // Update the modal content
          $("#eventTitle").text(eventTitle);
          $("#eventStart").text(eventStart);
          $("#eventEnd").text(eventEnd);
          $("#eventPrice").text(info.event.extendedProps.price);
          // Show the modal
          $("#eventModal").modal("show");
          $("#editButton").click(function () {
            window.location.href = "/reservas/" + eventId + "/editar";
          });
          // Handle the delete button click
          $("#deleteButton").click(function () {
            $.post("/reservas/" + eventId + "/eliminar", function () {
              calendar.refetchEvents();
              $("#eventModal").modal("hide");
            });
          });
        },
      });
      calendar.render();
    });
  </script>
  <div id="calendar" th:id="calendar"></div>
  <div
    class="modal fade"
    id="eventModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="eventModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventModalLabel">
            <span id="eventTitle"></span>
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Inicio</th>
                <td><span id="eventStart"></span></td>
              </tr>
              <tr>
                <th scope="row">Fin</th>
                <td><span id="eventEnd"></span></td>
              </tr>
              <tr>
                <th scope="row">Precio Total</th>
                <td><span id="eventPrice"></span> Soles</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="editButton">
            Editar
          </button>
          <button type="button" class="btn btn-danger" id="deleteButton">
            Eliminar
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
