<div th:fragment="content">
  <div th:replace="fragments/alerts :: alerts"></div>
  <div class="card card-warning">
    <div class="card-header">
      <h3 class="card-title">Edición de Habitación</h3>
    </div>
    <form
      id="editForm"
      th:action="@{/habitaciones/{id}/editar(id=${room.id})}"
      method="post"
      th:object="${room}"
    >
      <input type="hidden" th:field="*{created}" />
      <input type="hidden" th:field="*{creator}" />
      <input type="hidden" th:field="*{modified}" />
      <input type="hidden" th:field="*{lastMaintenanceDate}" />
      <input type="hidden" th:field="*{modifier}" />
      <input type="hidden" th:field="*{enabled}" />
      <div class="card-body">
        <div class="form-group">
          <label for="roomNumber">Número de Habitación</label>
          <input
            type="number"
            th:field="*{roomNumber}"
            class="form-control"
            id="roomNumber"
            placeholder=""
            th:readonly="${isRoomBooked}"
          />
        </div>
        <div class="form-group">
          <label for="type">Tipo</label>
          <select id="type" th:field="*{type}" class="form-control">
            <option
              th:each="roomType : ${T(com.isil.roommate.entity.RoomType).values()}"
              th:value="${roomType.name()}"
              th:text="${roomType.getDisplayValue()}"
            ></option>
          </select>
        </div>
        <div class="form-group">
          <label for="pricePerNight">Precio por Noche</label>
          <input
            type="number"
            th:field="*{pricePerNight}"
            class="form-control"
            id="pricePerNight"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="capacity">Capacidad</label>
          <input
            type="number"
            th:field="*{capacity}"
            class="form-control"
            id="capacity"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="floor">Piso</label>
          <input
            type="number"
            th:field="*{floor}"
            class="form-control"
            id="floor"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="status">Estado</label>
          <select id="status" th:field="*{status}" class="form-control">
            <option
              th:each="roomStatus : ${T(com.isil.roommate.entity.RoomStatus).values()}"
              th:value="${roomStatus.name()}"
              th:text="${roomStatus.getDisplayValue()}"
            ></option>
          </select>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-warning">Guardar</button>
      </div>
    </form>
  </div>
  <script>
    $(function () {
      $("#editForm").validate({
        rules: {
          roomNumber: {
            required: true,
            number: true,
            min: 1,
          },
          type: {
            required: true,
          },
          pricePerNight: {
            required: true,
            number: true,
            min: 0,
          },
          capacity: {
            required: true,
            number: true,
            min: 1,
          },
          floor: {
            required: true,
            number: true,
            min: 1,
          },
          lastMaintenanceDate: {
            required: true,
            date: true,
          },
          status: {
            required: true,
          },
        },
        messages: {
          roomNumber: {
            required: "Por favor, ingrese el número de habitación.",
            number: "Ingrese un número válido.",
            min: "El número de habitación debe ser igual o mayor que 1.",
          },
          type: {
            required: "Por favor, seleccione el tipo de habitación.",
          },
          pricePerNight: {
            required: "Por favor, ingrese el precio por noche.",
            number: "Ingrese un número válido.",
            min: "El precio por noche debe ser igual o mayor que 0.",
          },
          capacity: {
            required: "Por favor, ingrese la capacidad de la habitación.",
            number: "Ingrese un número válido.",
            min: "La capacidad debe ser igual o mayor que 1.",
          },
          floor: {
            required: "Por favor, ingrese el piso de la habitación.",
            number: "Ingrese un número válido.",
            min: "El piso debe ser igual o mayor que 1.",
          },
          lastMaintenanceDate: {
            required: "Por favor, ingrese la fecha de último mantenimiento.",
            date: "Ingrese una fecha válida.",
          },
          status: {
            required: "Por favor, seleccione el estado de la habitación.",
          },
        },
        errorElement: "span",
        errorPlacement: function (error, element) {
          error.addClass("invalid-feedback");
          element.closest(".form-group").append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass("is-invalid");
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass("is-invalid");
        },
      });
    });
  </script>
</div>
